<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="navbar">🚆 Railway System</div>

<div class="container">

<div class="card">
<form method="POST">
<input name="name" placeholder="Passenger Name">
<button name="action" value="book">Book</button>
</form>
</div>

<div class="card">
<form method="POST">
<input name="pnr" placeholder="PNR">
<button name="action" value="cancel">Cancel</button>
</form>
</div>

<h3>{{ message }}</h3>

<div class="card">
<table border="1">
<tr><th>PNR</th><th>Name</th><th>Status</th><th>Seat</th><th>Action</th></tr>

{% for row in data %}
<tr>
<td>{{ row[0] }}</td>
<td>{{ row[1] }}</td>
<td>{{ row[2] }}</td>
<td>{{ row[3] }}</td>
<td><a href="/download/{{ row[0] }}">Download</a></td>
</tr>
{% endfor %}

</table>
</div>

<a href="/logout">Logout</a>
